<p> henlo </p>

<form action="/payment/result">
<label for="apr">APR</label>
<input id="apr" type="text" name="user_input_rate">

<label for="n">Number of years</label>
<input id="n" type="text" name="user_input_years">

<label for="principal">Principal</label>
<input id="principal" type="text" name="user_input_principal">

<button>Calculate monthly payment</button>
</form>
